@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<h2> Index Helloworld</h2> 
<p> Hello from our View Template! Faites un clic droit sur le </p>
